:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #000; /* Fundo preto */
}

::-webkit-scrollbar-thumb {
  background: #fff; /* Barra de rolagem branca */
  border-radius: 6px; /* Bordas arredondadas para a barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc; /* Cor da barra de rolagem ao passar o mouse */
}